{% extends "base.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid">
  {% for group in object_list %}
  <a href="{% url 'groups:detail' slug=group.slug %}">
    <h2 class="display-4 techfont">
      {{group.name}} <small> [ {{group.members.count}} ]</small>
    </h2>
  </a>
  {% if user in group.members.all %}
  <a href="#"><button class="btn btn-danger techfont">Leave Group</button> </a>
  {% else %}
  <a href="{% url 'groups:join_group' group.slug %}"
    ><button class="btn btn-danger techfont">Join Group</button>
  </a>
  {% endif %} {% endfor %}
</div>

{% endblock %}
